@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wybory do sejmu @Html.Raw(DateTime.Today.Year)</h1>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("CanManageElections"))
        {
            <p class="lead">Aktualnie trwa głosowanie. Gdy wszystkie głosy zostaną wprowadzone do systemu, będziesz mógł rozpocząć procedurę liczenia głosów. </p>
            <p><a href="/Elections" class="btn btn-primary btn-lg">Podlicz głosy! &raquo;</a></p>
        }
        else
        {
            <p class="lead">Aktualnie trwa głosowanie. Gdy głosy w twoim regionie zostaną podliczone dodaj je do systemu w zakładce Kandydaci. </p>
            <p><a href="/candidates" class="btn btn-primary btn-lg">Głosy &raquo;</a></p>

        }
    }
    else
    {
        <p class="lead"> Witaj użytkowniku! Strona jest przeznaczona dla przewodniczących komisji wyborczych, jeśli jesteś jednym z nich zaloguj się! </p>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Zaloguj się &raquo;</a></p>
    }
</div>
