@model IEnumerable<eLections.Models.ViewModels.UserViewModel>
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsersList</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Land
            </th>
            <th>
                Change Roles
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.UserName, "Details", "Administration", new { id = user.Id }, null)</td>
                <td>
                    @if (user.Land != null)
                    {
                        @Html.Raw(user.Land.Name);
                    }
                    else
                    {
                        @Html.Raw("Administrator");
                    }
                </td>
                <td>@Html.ActionLink(user.UserName, "ManageRoles", "Administration", new { id = user.Id }, null)</td>

            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#users").DataTable();
        });
    </script>
}

