@using eLections.Models

@{
    ViewBag.Title = "CandidatesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CandidatesList</h2>
@Html.ActionLink("Create", "Create", "Candidates", null, new { @class = "btn btn-primary" })

<table id="candidates" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Candidates
            </th>
            <th>
                Number of votes
            </th>
            <th>
                Party
            </th>
            <th>
                Land
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#candidates").DataTable({
                ajax: {
                    url: "/api/candidates",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName",
                        render: function(data, type, candidate) {
                            return "<a href='/candidates/edit/" + candidate.id + "'>" + data + "</a>";
                        }
                    }, {
                        data: "numberOfVotes",
                        render: function(data, type, candidate) {
                            if (data == 0) {

                                return "<a href='/candidates/votes/"+candidate.id+"' class='btn btn-info'>Add votes</a>"
                            }
                            return data+ "<a href='/candidates/votes/" + candidate.id + "' class='btn btn-info left-space'>Change votes</a>";
                        }
                    }, {
                        data: "party.shortName"

                    }, {
                        data: "land.name"
                    }, {
                        data: "id",
                        render: function(data) {
                            return "<button data-candidate-id=" + data + " class ='btn btn-danger js-delete'>Delete</button>";
                        }
                    }
                ]

            });

            $("#candidates").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("U sure?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/candidates/" + button.attr("data-candidate-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        })
    </script>
}