
@{
    ViewBag.Title = "Parties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parties</h2>
@Html.ActionLink("Create", "Create", "Parties", null, new { @class = "btn btn-primary bottom-space" })

<table id="parties" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#parties").DataTable({
                ajax: {
                    url: "/api/parties",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName",
                        render: function (data, type, party) {
                            return "<a href='/parties/edit/" + party.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-party-id=" + data + " class ='btn btn-danger btn-smaller js-delete'>Delete</button>";
                        }
                    }
                ]

            });

            $("#parties").on("click",
                ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("U sure?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/parties/" + button.attr("data-party-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.success("Candidate has been deleted.");
                                    }
                                });
                            }
                        });
                });
        })
    </script>
}

