
@{
    ViewBag.Title = "Constituencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Constituencies</h2>
@Html.ActionLink("Create", "Create", "Constituencies", null, new { @class = "btn btn-primary" })

<table id="constituencies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Delete
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#constituencies").DataTable({
                ajax: {
                    url: "/api/constituencies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, constituency) {
                            return "<a href='/constituencies/edit/" + constituency.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button data-constituency-id=" + data + " class ='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]

            });

            $("#constituencies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("U sure?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/constituencies/" + button.attr("data-constituency-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        })
    </script>
}



